@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --desaturated-blue: 238deg 29% 16%;
    --soft-red: 14deg 88% 65%;
    --gradient-violet: 273deg 75% 66%;
    --gradient-blue: 240deg 73% 65%;
    --very-dark-grayish-blue: 237deg 12% 33%;
    --dark-grayish-blue: 240deg 6% 50%;
    --light-grayish-blue: 240deg 5% 91%;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

